@import "tailwindcss";

/* =========================
   Font Face
========================= */

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Brand Theme
========================= */

@theme {
  --color-primary: #1F1954;
  --color-secondary: #FDD304;
  --color-whatsapp: #2DB14A;

  --color-text-primary: #323031;
  --color-text-secondary: #4F4F51;

  --color-bg: #ffffff;
}

/* =========================
   Global Typography
========================= */

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    color: var(--color-text-primary);
  }

  p, li {
    color: var(--color-text-secondary);
  }
}
